* {
    margin: 0;
    padding: 0;
}

body {
    background-color:aliceblue;
    font-family: Century, "Century Gothic", sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
}

header > img {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 4rem;
}

section {
    display: flex;
}

article {
    flex: 1;
}

#promo {
    background-color: rgb(218, 224, 231);
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

#promo h1 {
    text-align: center;
    margin-bottom: 1rem;
}

article img {
    width: 100%;
}

#images article {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

footer {
    margin-top: 3rem;
    display: grid;
    grid-template-columns:40rem 15rem;
    justify-content: center;
}

footer div {
    flex: 1;
    font-size: .75rem;
}

footer img {
    width: 40%;
    height: 100%;
}