* {
    margin: 0;
    padding: 0;
}

body {
    background-color:aliceblue;
    font-family: Century, "Century Gothic", sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 4rem;
}

section {
    display: flex;
}

article {
    flex: 1;
}

#promo {
    background-color: rgb(218, 224, 231);
    margin-bottom: 1rem;
}

article + article {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer img {
    width: 65%;
}